
/.vs
/AVMTravel.Core/bin
/AVMTravel.Core/obj
/AVMTravel.Infrastructure/bin
/AVMTravel.Infrastructure/obj
/AVMTravel.Service/bin
/AVMTravel.Service/obj
/packages/Antlr.3.5.0.2
/AVMTravel.API/.vs
/AVMTravel.API/bin
/AVMTravel.API/obj
/AVMTravel.API/obj
/AVMTravel.API/obj
/VMTravel.Web/.vs
/VMTravel.Web/bin
/VMTravel.Web/obj
/VMTravel.Web/obj
/VMTravel.Web/obj
/VMTravel.Web/obj
VMTravel.Web/obj/Debug/AVMTravel.Web.csproj.AssemblyReference.cache
VMTravel.Web/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/VMTravel.Web/obj
VMTravel.Web/obj/Debug/AVMTravel.Web.csproj.AssemblyReference.cache
VMTravel.Web/obj/Debug/AVMTravel.Web.csproj.CoreCompileInputs.cache
VMTravel.Web/obj/Debug/AVMTravel.Web.csproj.FileListAbsolute.txt
VMTravel.Web/obj/Debug/VMTravel.Web.dll
VMTravel.Web/obj/Debug/VMTravel.Web.pdb
