@{
    ViewBag.Title = "Confirmación de Reserva";
}

<h2>Reserva Confirmada</h2>
<p>¡Tu reserva se ha realizado con éxito!</p>
<p>Gracias por elegir nuestros tours.</p>
<a href="@Url.Action("MostrarTours", "Tour")">Volver a la lista de tours</a>
