@{
    ViewBag.Title = "Inicio";
}

<h2>Bienvenido a AVMTravel</h2>
<p>Descubre los mejores tours y realiza tus reservas con nosotros.</p>
<a href="@Url.Action("MostrarTours", "Tour")">Ver Tours Disponibles</a>
